body {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-columns: minmax(300px, 400px) 1fr;
}
